<ion-header>
  <ion-row class="menuRow">
    <ion-col size="2" class="col-2">
      <button class="menuBtn">
        <ion-menu-button>
          <ion-icon name="menu-sharp" size="large"></ion-icon>
        </ion-menu-button>
      </button>
    </ion-col>
    <ion-col size="10" class="col-10">
      <div (click)="searchModal()" class="search_block">
        <div class="filterBadges">
          <div class="cityBadge">
            <ion-badge class="search" *ngIf="!city">
              <ion-icon name="search"></ion-icon> Search...
            </ion-badge>
            <ion-badge> {{ city | titlecase}} &nbsp;</ion-badge>
          </div>
          <div *ngIf="formattedAddress" class="location">
            <ion-badge> {{ formattedAddress | titlecase}}</ion-badge>
          </div>

          <ion-badge>{{purpose | titlecase}} </ion-badge>
          <ion-badge *ngIf="filters?.type && !filters?.subType">
            {{filters?.type | titlecase}}</ion-badge
          >
          <ion-badge *ngIf="filters?.subType">
            {{filters?.subType.title | titlecase}}</ion-badge
          >
        </div>
      </div>
      <img
        class="closeIcon"
        *ngIf="formattedAddress || city"
        (click)="resetLocation()"
        src="assets/icon/close1.png"
      />
    </ion-col>
  </ion-row>
</ion-header>
<ion-content>
  <ion-tabs #myTabs>
    <ion-tab-bar slot="top" class="tabbar show-tabbar">
      <ion-tab-button (selected)="getSelectedTab()" tab="map" class="tab-button">
        <ion-label><ion-icon name="map-sharp"></ion-icon> <span>Map</span></ion-label>
      </ion-tab-button>
      <ion-tab-button (select)="getSelectedTab()" tab="ads" class="tab-button">
        <ion-label><ion-icon name="list-outline"></ion-icon> <span>List</span></ion-label>
      </ion-tab-button>
      <ion-tab-button (click)="filterModal()" class="tab-button">
        <ion-label><ion-icon name="filter-sharp"></ion-icon> <span>Filter</span></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <div class="btnAds"></div>

  <div class="select_block"></div>
</ion-content>
