<ion-content
  #scrollableContent
  [scrollEvents]="true"
  (ionScroll)="getScroll($event)">
  <ion-item class="headerItem">
    <span class="dropDown" slot="start" class="start">
      <i class="fa fa-sort" aria-hidden="true"></i>
      <ion-select
        placeholder="Sort"
        (ngModelChange)="sortArray($event)"
        interface="popover"
        [(ngModel)]="sort"
      >
        <ion-select-option value="area">Area</ion-select-option>
        <ion-select-option value="demand">Price</ion-select-option>
      </ion-select>
      <ion-select
        *ngIf="sort"
        class="htl"
        placeholder="Low - High"
        (ngModelChange)="sortArray($event)"
        interface="popover"
        [(ngModel)]="highAndLow"
      >
        <ion-select-option value="lth">Low - High</ion-select-option>
        <ion-select-option value="htl">High - Low</ion-select-option>
      </ion-select>
    </span>

    <span slot="end" class="end">{{ lazyLoadedData?.length }} Results</span>
  </ion-item>
  <div class="notFound" *ngIf="ads?.length == 0">
    <img src="assets/icon/404.png" />
    <p>No Result Found!</p>
  </div>
  <asasa-listview
    [ads]="ads"
    [processingData]="processingData"
    [stopLoader]="stopLoader"
    (infiniteScrollTrigger)="infiniteScroll()"
  ></asasa-listview>
</ion-content>
<div
  (click)="scrollToTop()"
  *ngIf="display"
  ion-fixed
  #scrollBtn
  class="scrollToTop"
>
  <ion-icon name="chevron-up-sharp" color="light"></ion-icon>
</div>
