<ion-header>
  <img class="closeIcon" (click)="closeModal()" src="assets/icon/close1.png" />
</ion-header>
<ion-content>
  <div class="headWithTitle">
    <div class="overlay">
      <div class="content">
        <h1>Sell and rent Out Property</h1>
        <p>Add property to get started with ASASA</p>
      </div>
    </div>
  </div>

  <div class="section section-divider"></div>

  <ion-grid>
    <ion-row class="ml2rem">
      <ion-col>
        <h2 class="title">ADD PROPERTY</h2>
      </ion-col>
    </ion-row>
    <ion-row class="selection-btn ml2rem">
      <ion-col size="3" style="padding-right: 0">
        <ion-button
          class="pre-btn btn-sale btn-normal"
          [class.btn-yes]="purpose === 'buy'"
          [class.btn-no]="purpose === 'rent'"
          expand="block"
          (click)="selectSale()"
        >
          Sale
      </ion-button>
      </ion-col>
      <ion-col size="3" style="padding-left: 0">
        <ion-button
          class="pre-btn btn-rent btn-normal btn-no"
          [class.btn-yes]="purpose === 'rent'"
          [class.btn-no]="purpose === 'buy'"
          expand="block"
          (click)="selectRent()"
        >
          Rent
        </ion-button>
      </ion-col>
    </ion-row>
    <form
      padding
      [formGroup]="ngForm"
      class="regForm"
      (ngSubmit)="postProperty()"
    >
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Full Name</ion-label>
            <ion-input
              type="text"
              formControlName="name"
              [class.invalid]="Name.invalid && (Name.dirty || Name.touched)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input
              type="email"
              formControlName="email"
              [class.invalid]="Email.invalid && (Email.dirty || Email.touched)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Phone</ion-label>
            <ion-input
              type="number"
              formControlName="phone"
              [class.invalid]="Phone.invalid && (Phone.dirty || Phone.touched)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">City</ion-label>
            <ion-input
              type="text"
              formControlName="city"
              [class.invalid]="City.invalid && (City.dirty || City.touched)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Property Detail</ion-label>
            <ion-input
              formControlName="propertyDetails"
              [class.invalid]="
                PropertyDetails.invalid &&
                (PropertyDetails.dirty || PropertyDetails.touched)
              "
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item
            [class.invalid]="
              PropertyType.invalid &&
              (PropertyType.dirty || PropertyType.touched)
            "
          >
            <ion-label position="stacked">Property type</ion-label>
            <ion-select interface="popover" formControlName="propertyType">
              <ion-select-option value="apartment">Apartment</ion-select-option>
              <ion-select-option value="portion">Portion</ion-select-option>
              <ion-select-option value="house">House</ion-select-option>
              <ion-select-option value="shop">Shop</ion-select-option>
              <ion-select-option value="plaza">Plaza</ion-select-option>
              <ion-select-option value="office">Office</ion-select-option>
              <ion-select-option value="floor">Floor</ion-select-option>
              <ion-select-option value="residential_plot"
                >Residential Plot</ion-select-option
              >
              <ion-select-option value="commercial_plot"
                >Commercial Plot</ion-select-option
              >
              <ion-select-option value="farm_house"
                >Farm House</ion-select-option
              >
              <ion-select-option value="pent_house"
                >Pent House</ion-select-option
              >
              <ion-select-option value="other">Other</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Land Area</ion-label>
            <ion-input
              type="text"
              formControlName="landArea"
              [class.invalid]="
                LandArea.invalid && (LandArea.dirty || LandArea.touched)
              "
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item
            [class.invalid]="
              LandAreaUnit.invalid &&
              (LandAreaUnit.dirty || LandAreaUnit.touched)
            "
          >
            <ion-label position="stacked">Area Unit</ion-label>
            <ion-select interface="popover" formControlName="landAreaUnit">
              <ion-select-option value="kanal">Kanal</ion-select-option>
              <ion-select-option value="marla">Marla</ion-select-option>
              <ion-select-option value="sqft">Square Feet</ion-select-option>
              <ion-select-option value="sqyd">Square Yard</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Demand</ion-label>
            <ion-input
              type="text"
              formControlName="demand"
              [class.invalid]="
                Demand.invalid && (Demand.dirty || Demand.touched)
              "
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label position="stacked">Type your message here...</ion-label>
            <ion-textarea
              rows="5"
              name="message"
              autocomplete="on"
              autocorrect="on"
              formControlName="message"
              [class.invalid]="
                Message.invalid && (Message.dirty || Message.touched)
              "
            ></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item lines="none" (click)="inputFile.click()">
              <ion-label>Add Property Images (upto 10 images)</ion-label>
              <ion-icon name="camera" slot="start" class="camera-icon"></ion-icon>
              <input #inputFile name="file" (change)="onImageSelect($event.target.files)" class="form-control"
                type="file" placeholder="Add Images" multiple />
            </ion-item>
            <ion-row>
              <ion-col class="ion-padding-none" size="6" size-sm="4" size-md="3" *ngFor="let img of images; let i = index">
                <div class="property-img">
                  <img [src]="img" />
                  <ion-icon name="close" (click)="removeImage(i)"></ion-icon>
                </div>
            </ion-col>
            </ion-row>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          <ion-button
            expand="block"
            [disabled]="!ngForm.valid"
            class="btnFooter mb3rem"
            type="submit"
          >
            Add Property
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-grid>
</ion-content>
