.closeIcon {
  filter: brightness(0);
  padding: 1rem;
  margin: 0rem !important;
  height: 3.5rem;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
}
p {
  padding: 1rem;
  margin: 0;
  font-size: 1rem;
  background: whitesmoke;
  color: #0a6492 !important;
}

h3 {
  text-align: center;
}

ion-card-title {
  text-align: center;
}

ion-title {
  font-weight: 600;
}