<ion-header>
  <ion-item lines="none" class="toolbarHeader">
    <img
      class="closeIcon"
      slot="start"
      item-start
      (click)="dismissWithoutData()"
      src="assets/icon/close1.png"
    />
    <p slot="start">LOCATION AND TYPE FILTERS</p>
    <p (click)="search()" slot="end">APPLY</p>
  </ion-item>
</ion-header>
<ion-content>
  <div class="searchLoc">
    <ion-segment
      class="purpose"
      [(ngModel)]="type"
      (ionChange)="changeType($event)"
    >
      <ion-segment-button value="Buy">
        <ion-label>Buy</ion-label>
      </ion-segment-button>
      <ion-segment-button value="Rent">
        <ion-label>Rent</ion-label>
      </ion-segment-button>
    </ion-segment>

    <div style="text-align: center; margin: 2rem 0;">
      <ng-select
        [items]="cities"
        bindLabel="city"
        class="mr-2 ml-2"
        placeholder="Select City"
        [(ngModel)]="cityS"
        name="city"
        (change)="selectCity($event)"
      >
      </ng-select>
      <!-- *ngIf="locations.length > 0 && cityS != null" -->
      <ng-select
        [items]="locations"
        bindLabel="location"
        class="mr-2 ml-2"
        placeholder="Select Location"
        [(ngModel)]="location"
        name="location"
        (change)="locationChange()"
      >
      </ng-select>
    </div>

    <ion-label class="labelProp"> PROPERTY TYPE</ion-label>

    <ion-segment
      class="typeFilter"
      *ngIf="purpose == 'Buy'"
      [(ngModel)]="propType"
      (ionChange)="changePropType($event , canEnter)"
    >
      <ion-segment-button
        (click)="changeCanEnter()"
        class="segmentBtn"
        value="all"
      >
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button
        (click)="changeCanEnter()"
        class="segmentBtn"
        value="House"
      >
        <ion-label>Home</ion-label>
      </ion-segment-button>
      <ion-segment-button
        (click)="changeCanEnter()"
        class="segmentBtn"
        value="Plot"
      >
        <ion-label>Plot</ion-label>
      </ion-segment-button>
      <ion-segment-button
        (click)="changeCanEnter()"
        class="segmentBtn"
        value="Commercial"
      >
        <ion-label>Commercial</ion-label>
      </ion-segment-button>
    </ion-segment>

    <ion-segment
      class="typeFilter"
      *ngIf="purpose == 'Rent'"
      [(ngModel)]="propType"
      (ionChange)="changePropType($event, canEnter)"
    >
      <ion-segment-button
        (click)="changeCanEnter()"
        class="segmentBtn"
        value="all"
      >
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button
        (click)="changeCanEnter()"
        class="segmentBtn"
        value="House"
      >
        <ion-label>Home</ion-label>
      </ion-segment-button>

      <ion-segment-button
        (click)="changeCanEnter()"
        class="segmentBtn"
        value="Commercial"
      >
        <ion-label>Commercial</ion-label>
      </ion-segment-button>
    </ion-segment>
    <ion-row size="12">
      <!-- <span *ngIf="propType == 'House' && purpose == 'Buy'"> -->
      <span *ngIf="propType == 'House' && purpose == 'Buy'">
        <ion-col *ngFor="let sub of homeBuy">
          <ion-button
            class="btn outline"
            fill="outline"
            (click)="selectBtn(sub)"
            [ngClass]="{
            btnNotSelected: !sub?.selected,
            btnSelected: sub?.selected
          }"
            ion-button
            outline
          >
            {{ sub?.title }}
          </ion-button>
        </ion-col>
      </span>
      <span *ngIf="propType == 'House' && purpose == 'Rent'">
        <ion-col *ngFor="let sub of homeRent">
          <ion-button
            class="btn outline"
            fill="outline"
            (click)="selectBtn(sub)"
            [ngClass]="{
            btnNotSelected: !sub?.selected,
            btnSelected: sub?.selected
          }"
          >
            {{ sub?.title }}
          </ion-button>
        </ion-col>
      </span>
      <span *ngIf="propType == 'Plot'">
        <ion-col *ngFor="let sub of plot">
          <ion-button
            class="btn outline"
            fill="outline"
            (click)="selectBtn(sub)"
            [ngClass]="{
            btnNotSelected: !sub?.selected,
            btnSelected: sub?.selected
          }"
          >
            {{ sub?.title }}
          </ion-button>
        </ion-col>
      </span>
      <span *ngIf="propType == 'Commercial'">
        <ion-col *ngFor="let sub of commercial">
          <ion-button
            class="btn outline"
            fill="outline"
          (click)="selectBtn(sub)"
            [ngClass]="{
            btnNotSelected: !sub?.selected,
            btnSelected: sub?.selected
          }"
          >
            {{ sub?.title }}
          </ion-button>
        </ion-col>
      </span>
    </ion-row>

    <ion-row class="otherFilters" size="12">
      <ion-col size="12"> <p>Price Range (min - max)</p></ion-col>

      <ion-col size="6">
        <form>
          <ion-input
            name="minPrice"
            type="number"
            [(ngModel)]="minPrice"
            placeholder="Min"
            (keyup)="comparePrice()"
            [ngClass]="{invalid: !priceValid}"
          ></ion-input>
        </form>
      </ion-col>
      <!-- <ion-col col-2> <p>-</p> </ion-col> -->
      <ion-col size="6">
        <form>
          <ion-input
            type="number"
            [(ngModel)]="maxPrice"
            placeholder="Max"
            name="maxPrice"
            (keyup)="comparePrice()"
            [ngClass]="{invalid: !priceValid }"
          ></ion-input>
        </form>
      </ion-col>
    </ion-row>

    <ion-row
      class="otherFilters bottomMargin"
      [ngClass]="{mb8rem: !homes}"
      size="12"
    >
      <ion-col size="6"> <p>Area Range (min - max)</p></ion-col>
      <ion-col size="6">
        <ion-select
          required
          placeholder="Select Area"
          [(ngModel)]="selectedType"
          interface="popover"
          name="selectedType"
        >
          <ion-select-option
            *ngFor="let types of areaTypes; let i = index"
            (ionSelect)="index = i"
            [value]="types"
            >{{ types.type }}</ion-select-option
          >
        </ion-select>
      </ion-col>

      <ion-col size="6">
        <form>
          <ion-input
            name="minArea"
            type="number"
            [(ngModel)]="minArea"
            placeholder="Min"
            (keyup)="compareArea()"
            [ngClass]="{invalid: !areaValid}"
          ></ion-input>
        </form>
      </ion-col>
      <!-- <ion-col col-2> <p>-</p> </ion-col> -->
      <ion-col size="6">
        <form>
          <ion-input
            type="number"
            [(ngModel)]="maxArea"
            placeholder="Max"
            name="maxArea"
            (keyup)="compareArea()"
            [ngClass]="{invalid: !areaValid}"
          ></ion-input>
        </form>
      </ion-col>
    </ion-row>

    <ion-label *ngIf="homes" class="filterHeading">Beds : </ion-label>
    <ul *ngIf="homes" class="unorderList">
      <li *ngFor="let beds of beds; let i = index">
        <ion-button
          class="outline"
          fill="outline"
          type="submit"
          (click)="selectBed(i)"
          [ngClass]="{
          btnNotSelected: !beds?.selected,
          btnSelected: beds?.selected
        }"
        >
          {{beds?.value |titlecase}}
        </ion-button>
      </li>
    </ul>
  </div>
</ion-content>

<ion-footer>
  <div class="buttonFooter" ion-fixed>
    <ion-button class="outline" fill="outline" outline type="submit" (click)="reset()">
      RESET
    </ion-button>
    <ion-button
      expand="block"
      class="block"
      [disabled]="!priceValid || !areaValid"
      type="submit"
      (click)="search()"
    >
      SEARCH
    </ion-button>
  </div>
</ion-footer>

<!-- <div (click)="dismiss()" class="dismiss"></div> -->
