<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu contentId="main-content" type="overlay">
      <ion-content class="sideMenu">
        <div *ngIf="!userData" class="profile">
          <img src="assets/imgs/asasa.png" />
        </div>
    
        <ion-row *ngIf="userData" class="profile">
          <ion-col size="5" class="profilePic">
            <img
              [src]="userData?.image?.fileLocation ? userData?.image?.fileLocation : 'https://asasa.com/assets/images/profile_picture.jpg'"
            />
          </ion-col>
          <ion-col size="7">
            <p>{{userData?.name}}</p>
            <p>{{userData?.email}}</p>
    
            <ion-menu-toggle>
              <p (click)="editProfile()" class="edit">
                Edit Profile
              </p>                
            </ion-menu-toggle>
          </ion-col>
        </ion-row>
    
        <div class="searchBar">
          <span class="in">
            <ion-input
              item-start
              name="myInput"
              placeholder="Search by Property ID"
              type="number"
            >
            </ion-input>
    
            <button
              ion-button
              icon-only
              item-end
              (click)="onCancel()"
              type="submit"
              [disabled]="!myInput"
            >
              <ion-icon name="search"></ion-icon>
            </button>
          </span>
        </div>
    
        <ion-menu-toggle>
          <ion-item *ngIf="!loggedIn" class="item" (click)="login()" no-lines>
            <img item-start src="assets/imgs/login.png" /> Sign In
          </ion-item>
          </ion-menu-toggle>
        <hr *ngIf="!loggedIn" />
    
        <ion-menu-toggle>
          <ion-item menuClose class="item" (click)="architect()" no-lines>
            <img item-start src="assets/imgs/architecture.png" /> Construction &
            Architecture
          </ion-item>
          </ion-menu-toggle>
        <hr />

        <ion-menu-toggle>
          <ion-item (click)="openSellForm()" class="item" no-lines>
            <img item-start src="assets/imgs/listproperty.png" /> Sell/Rent Out Your
            Property
          </ion-item>
          </ion-menu-toggle>
    
        <hr />
        <ion-menu-toggle>
          <ion-item (click)="contactUs()" class="item" no-lines>
            <img item-start src="assets/imgs/contactus.png" /> Contact Us
          </ion-item>
          </ion-menu-toggle>
    
        <hr />
        <ion-menu-toggle>
          <ion-item
          menuClose
          (click)="openTestimonial()"
          *ngIf="loggedIn"
          class="item"
          no-lines
        >
          <img item-start src="assets/imgs/review.png" /> Testimonials
          <ion-badge>{{ favouriteCount }}</ion-badge>
        </ion-item>
          </ion-menu-toggle>
        <hr *ngIf="loggedIn" />
        <ion-menu-toggle>
          <ion-item
          menuClose
          (click)="openFavourites()"
          *ngIf="loggedIn"
          class="item"
          no-lines
        >
          <img item-start src="assets/imgs/favourite.png" /> Favourites
          <ion-badge>{{ favouriteCount }}</ion-badge>
        </ion-item>
          </ion-menu-toggle>
        <hr *ngIf="loggedIn" />
        <ion-menu-toggle>
          <ion-item menuClose (click)="rateUsActionSheet()" class="item" no-lines>
            <img item-start src="assets/imgs/star.png" /> Rate us
          </ion-item>
          </ion-menu-toggle>
        <hr />
        <ion-menu-toggle>
          <ion-item menuClose (click)="locateUs()" class="item" no-lines>
            <img item-start src="assets/imgs/pin.png" /> Locate us
          </ion-item>
        </ion-menu-toggle>
        <hr />
        <ion-menu-toggle>
          <ion-item
          *ngIf="loggedIn"
          (click)="logout()"
          menuClose
          class="item"
          no-lines
        >
          <img item-start src="assets/imgs/logout.png" /> Logout
        </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
