.sideMenu {
  background-color: white;

  .input-wrapper {
    color: #0a6492;
  }

  p {
    font-size: 1rem !important;
  }
  .profile {
    padding: 1rem;
    background: white;

    ion-avatar {
      width: 90%;
    }

    .col-7 {
      display: flex;
      justify-content: center;
      flex-direction: column;
      p {
        width: 100%;
        margin: 0;
        font-size: 1rem !important;
        color: #0a6492;
      }
      p:nth-child(2) {
        font-size: 0.8rem !important;
        color: gray;
        letter-spacing: 1px;
      }
      .edit {
        color: black;
        font-size: 12px !important;
        margin-top: 1rem;
        border: 1px solid #0a6492;

        width: 60%;
        text-align: center;
        padding: 2px 0px;
      }

      .edit:active {
        opacity: 0.5;
      }
    }

    .imageSetting {
      border-radius: 25rem;
      border: 2px solid rgb(255, 255, 255);
      height: 12rem;
      width: 12rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 2rem;
    }

    .profilePic {
      border-radius: 25rem;
      width: 10rem;
      justify-content: center;
      display: flex;
      align-items: center;
      .default {
        border-radius: 0rem !important;
      }
      ion-img {
        width: 5rem;
        border-radius: 25rem;
        object-fit: contain;
        height: 5rem;
        box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.42);
      }
    }
  }
  .item {
    font-family: TrajanProBold;
    background-color: transparent;
    color: #116594;

    ion-badge {
      background-color: #116594;
    }

    img {
      width:  1rem;
    }
  }
  .item:active {
    opacity: 0.5;
  }
  .logoutBtn {
    background-color: #3e3e3e;
    position: absolute;
    right: 5rem;
    bottom: 3rem;
  }

  ion-label {
    margin-left: 10px;
    font-size: 0.8rem;
    font-family: TrajanProBold;
  }

  //Modal setting for having transparent background

  ion-modal.asasa-modal {
    ion-backdrop {
      visibility: visible;
      z-index: 0;
    }
    &.transparent {
      ion-backdrop {
        visibility: visible;
        z-index: 0;
        background-color: transparent !important;
      }
    }
    .modal-wrapper {
      height: 49.6rem;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  .searchBar {
    display: flex;

    align-items: center;
    background: #ffffff;
    padding: 0;

    margin-top: 2px;
    position: relative;
    .in {
      width: 100%;
      background: whitesmoke;
      margin: 1rem;
      position: relative;
      border-radius: 3rem;
      box-shadow: 0px 0px 16px -7px rgba(0, 0, 0, 0.42);
    }
    ion-button {
      width: 2.8rem;
      height: 2.8rem;
      position: absolute;
      right: -4px;
      top: -4px;
      --background: #0a6492;
      --border-radius: 5rem;
      --border: 1px solid white;
      --color: white;
    }

    ion-input {
      padding-left: 10px;
      font-size: 0.9rem;
      font-weight: 500;
      width: 80%;
      --padding-start: 15px;
      --padding-top: 15px;
      --padding-bottom: 15px;
      --color: #0a9266;
      --placeholder-color: #555;
      --placeholder-opacity: 1;
    }
  }
}
.back-button {
  color: #2a5067;
}

.swiper-pagination-bullet {
  background: #bdbdbd !important;
}

.swiper-pagination-bullet-active {
  background: #0a6492 !important;
  opacity: 1;
}

ion-loading.myloading-wrapper {
  .loading-wrapper {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    flex-direction: column !important;
    padding: 19px 18px !important;
  }
  .loading-content {
    width: 12rem !important;
    margin-left: 0 !important;
  }
  .custom-spinner-container {
    margin-top: 0rem;
    bottom: 0;
    border-radius: 2rem;
    text-align: center;
  }
  .customLoader {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 2%;
  }
  .customLoader1 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 10%;
  }
  .customLoader2 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 20%;
  }
  .customLoader3 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 30%;
  }
  .customLoader4 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 40%;
  }
  .customLoader5 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 50%;
  }
  .customLoader6 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 60%;
  }
  .customLoader7 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 70%;
  }
  .customLoader8 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 80%;
  }
  .customLoader9 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 90%;
  }
  .customLoader10 {
    height: 0.5rem;
    background: #25bda4;
    border-radius: 2rem;
    margin-top: 0.5rem;
    width: 100%;
  }
}
