<ion-app>
  <ion-split-pane contentId="main-content">

    <ion-menu menuId="side-menu" contentId="main-content" type="overlay">
      <ion-content class="sideMenu">
        <div *ngIf="!userData" class="profile">
          <div class="asasa-logo">
            <img src="assets/imgs/asasa.png" />
          </div>
        </div>
    
        <ion-row *ngIf="userData" class="profile">
          <ion-col size="5" class="profilePic">
            <ion-avatar>
              <ion-img
              [src]="userData?.image?.fileLocation ? userData?.image?.fileLocation : 'https://asasa.com/assets/images/profile_picture.jpg'"
            ></ion-img>
            </ion-avatar>
          </ion-col>
          <ion-col size="7" class="col-7">
            <p>{{userData?.name}}</p>
            <p>{{userData?.email}}</p>
    
            <ion-menu-toggle>
              <p (click)="editProfile()" class="edit">
                Edit Profile
              </p>                
            </ion-menu-toggle>
          </ion-col>
        </ion-row>
    
        <div class="searchBar">
          <span class="in">
            <ion-input
              [(ngModel)]="myInput"
              name="myInput"
              placeholder="Search by Property ID"
              type="number"
            >
            </ion-input>
    
            <ion-button
              slot="icon-only"
              (click)="onCancel()"
              type="submit"
              [disabled]="!myInput"
            >
              <ion-icon name="search"></ion-icon>
            </ion-button>
          </span>
        </div>
    
        <ion-menu-toggle>
          <ion-item *ngIf="!loggedIn" class="item" (click)="login()" no-lines>
            <img item-start src="assets/imgs/login.png" />
            <ion-label>Sign In</ion-label>
          </ion-item>
          </ion-menu-toggle>
        <hr *ngIf="!loggedIn" />
    
        <ion-menu-toggle>
          <ion-item menuClose class="item" (click)="architect()" no-lines>
            <img item-start src="assets/imgs/architecture.png" />
            <ion-label>Construction & Architecture</ion-label>
          </ion-item>
          </ion-menu-toggle>
        <hr />

        <ion-menu-toggle>
          <ion-item (click)="openSellForm()" class="item" no-lines>
            <img item-start src="assets/imgs/listproperty.png" />
            <ion-label>Sell/Rent Out Your Property</ion-label>
          </ion-item>
          </ion-menu-toggle>
    
        <hr />
        <ion-menu-toggle>
          <ion-item (click)="contactUs()" class="item" no-lines>
            <img item-start src="assets/imgs/contactus.png" />
            <ion-label>Contact Us</ion-label>
          </ion-item>
          </ion-menu-toggle>
    
        <hr />
        <ion-menu-toggle>
          <ion-item
          menuClose
          (click)="openTestimonial()"
          *ngIf="loggedIn"
          class="item"
          no-lines
        >
          <img item-start src="assets/imgs/review.png" /> 
          <ion-label>Testimonials</ion-label>
          <ion-badge>{{ favouriteCount }}</ion-badge>
        </ion-item>
          </ion-menu-toggle>
        <hr *ngIf="loggedIn" />
        <ion-menu-toggle>
          <ion-item
          menuClose
          (click)="openFavourites()"
          *ngIf="loggedIn"
          class="item"
          no-lines
        >
          <img item-start src="assets/imgs/favourite.png" /> 
          <ion-label>Favourites</ion-label>
          <ion-badge>{{ favouriteCount }}</ion-badge>
        </ion-item>
          </ion-menu-toggle>
        <hr *ngIf="loggedIn" />
        <ion-menu-toggle>
          <ion-item menuClose (click)="rateUsActionSheet()" class="item" no-lines>
            <img item-start src="assets/imgs/star.png" />
            <ion-label>Rate us</ion-label>
          </ion-item>
          </ion-menu-toggle>
        <hr />
        <ion-menu-toggle>
          <ion-item menuClose (click)="locateUs()" class="item" no-lines>
            <img item-start src="assets/imgs/pin.png" /> 
            <ion-label>Locate us</ion-label>
          </ion-item>
        </ion-menu-toggle>
        <hr />
        <ion-menu-toggle>
          <ion-item
          *ngIf="loggedIn"
          (click)="logout()"
          menuClose
          class="item"
          no-lines
        >
          <img src="assets/imgs/logout.png" />
          <ion-label>Logout</ion-label>
        </ion-item>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>
    
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
